---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts limit:1 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.content }} 
      </li>
    {% endfor %}
  </ul>

<div class="archive-link"><a class="page-link" align="center" style="color:darkred; font-size:1000; text-align:center" href="/archive/"> SEE ALL POSTS → </a>
</div>


<!-- google analytics -->
{% include google_analytics.html %}

